@mixin font-face($name) {
	font-family: Quicksand;
	src: url('../fonts/' + $name + '.otf');
}

@font-face {
	@include font-face("Quicksand_Book");
	font-weight: normal;
}

@font-face {
	@include font-face("Quicksand_Bold");
	font-weight: bold;
}

@font-face {
	@include font-face("Quicksand_Light");
	font-weight: 300;
}