* {
  transition: 0.3s;
}

body {
  font-family: Quicksand;
  background-color: $hl-color;
}

main {
  overflow: hidden;
}

svg {

  &.JTsvg {
    width: 343px;
  }

  .cls-1 {
    fill: #232323;
    fill-rule: evenodd;
  }
}

%none {
  display: none;
}

.nav-menu {
  @extend %clearfix;

  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;

  ul {
    float: left;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        position: relative;
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        color: transparent;
        text-decoration: none;
        padding-left: 25px;

        &:hover {
          color: $def-color;
        }

        &:before {
          position: absolute;
          top: 50%;
          left: 6px;
          transform: translateY(-50%);
          height: 13px;
          width: 13px;
          border-radius: 50%;
          border: 1px solid $def-color;
          content: ' ';
        }

      }

      &.active {
        a {

          color: $def-color;

          &:before {
            background-color: $def-color;
          }
        }
      }
    }
  }
}

section {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  %centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .inner {
    display: block;
    margin: 0 auto;
    width: 820px;
  }

  h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.home {
    
    .logo-container {
      @extend %centering;

      h1 {
        text-align: center;
      }
    }

    p {
      text-align: center;
      font-size: 20px;
    }
  }

  &.portfolio {

    .inner {
      margin-top: 49px;
    }

    .sec-tabs {
      @extend %clearfix;

      display: flex;
      padding-left: 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #383838;
      list-style-type: none;

      li {

        &:first-child {

          a {
            padding-left: 0px;
          }
        }

        &.active {
          a {
            box-shadow: 0 1px 0 $hl-color,
                  1px 0 0 $def-color,
                  1px -1px 0 $def-color,
                  1px -1px 0 $def-color,
                  -1px 0 0 $def-color,
                  -1px -1px 0 $def-color;
                  font-weight: bold;
          }

          &:first-child {

            a {
              box-shadow: 0 1px 0 $hl-color,
                    1px 0 0 $def-color,
                    1px -1px 0 $def-color,
                    1px -1px 0 $def-color,
                    -1px 0 0 $hl-color,
                    -1px -1px 0 $hl-color;

            }

          }
        }

        a {
          padding: 10px 10px 0 10px;
          font-size: 25px;
          text-decoration: none;
          display: block;
          text-transform: uppercase;
          color: $def-color;
          font-weight: 300;

          &:focus {
            outline: 0;
          }

          &:hover {
            color: inherit;
            font-weight: bold;
          }
        }
      }
    }

    .container-tabs {

      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;

        li {
          width: 32%;
          border: 1px solid $def-color;
          margin-bottom: 20px;
        }

        a {
          text-decoration: none;
          color: $def-color;

          .pic {
            &:hover {
              background-color: $hl-color;
            }
          }
        }

        span {
          display: block;

          &.pic {
            
            width: 100%;
            background-color: $def-color;
            height: 176px;
          }

          &.title {
            border-top: 1px solid $def-color;
            padding: 5px;
            text-align: center;
          }
        }
      }

    }
  }

  &.skillset {

    .inner {
      @extend %centering;
    }

    .sub-text {
      border-bottom: 1px solid $def-color;
      font-size: 13px;
    }

    .link-text {
      font-size: 13px;

      a {
        color: $def-color;
        font-weight: bold;
        font-size: 14px;

      }
    }

    .chart-container {
      margin-bottom: 15px;
    }
  }

  &.experience {

    h4 {
      text-align: center;
    }

    .exp-list {
      border-top: 2px solid $def-color;
      width: 100%;
      padding: 0;
      list-style: none;

      @extend %clearfix;

      li {
        position: relative;
        float: left;
        width: 20%;

        &:first-child:before,
        &:last-child:before {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $def-color;
          content: ' ';
        }

        &:first-child:before {
          top: -6px;
          left: -5px;
        }

        &:last-child:before {
          top: -6px;
          right: -5px;
        }

        span {
          display: block;
          position: absolute;
        }
      }
    }
  }

  &.contact {

    .inner {
      @extend %centering;
    }

    .contact-info {
      margin-top: 29px;
    }

    p {
      margin-bottom: 5px;
    }

    .bordered {
      display: block;
      padding: 12px;
      margin-bottom: 20px;
      background-color: $def-color;
      border: 1px solid $def-color;
      color: $hl-color;
      font-size: 13px;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: $hl-color;
        color: $def-color;
      }
    }

    h3 {
      font-size: 18px;
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    .form-container {
      input,
      textarea {
        appearance: none;
        border: 1px solid $def-color;
        width: 100%;
        background-color: transparent;
        padding: 10px 5px;
        font-size: 12px;
        margin-bottom: 15px;

        &::placeholder {
          color: $def-color;
        }

        &:focus {
          outline: 0;
        }
      }

      input[type="submit"] {
        margin-bottom: 0;
        text-transform: uppercase;
        padding: 15px;
        background-color: $def-color;
        border: 1px solid $def-color;
        color: $hl-color;
        font-size: 13px;

        &:hover {
          background-color: $hl-color;
          color: $def-color;
        }
      }
    }
  }


}
