/*
********************************************************************
****** 161022 ******************************************************
****** MY PORTFOLIO; ***********************************************
****** Coded by Joshua B. Turingan; ********************************
****** using Bootstrap framework; **********************************
********************************************************************
*/
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand_Book.otf");
  font-weight: normal; }

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand_Bold.otf");
  font-weight: bold; }

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand_Light.otf");
  font-weight: 300; }

.nav-menu:before, section.portfolio .sec-tabs:before, section.experience .exp-list:before, .nav-menu:after, section.portfolio .sec-tabs:after, section.experience .exp-list:after {
  content: ' ';
  display: table; }

.nav-menu:after, section.portfolio .sec-tabs:after, section.experience .exp-list:after {
  clear: both; }

* {
  transition: 0.3s; }

body {
  font-family: Quicksand;
  background-color: #f9f0ff; }

main {
  overflow: hidden; }

svg.JTsvg {
  width: 343px; }

svg .cls-1 {
  fill: #232323;
  fill-rule: evenodd; }

.nav-menu {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9; }
  .nav-menu ul {
    float: left;
    padding: 0;
    margin: 0; }
    .nav-menu ul li {
      margin-bottom: 5px; }
      .nav-menu ul li:last-child {
        margin-bottom: 0; }
      .nav-menu ul li a {
        position: relative;
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        color: transparent;
        text-decoration: none;
        padding-left: 25px; }
        .nav-menu ul li a:hover {
          color: #232323; }
        .nav-menu ul li a:before {
          position: absolute;
          top: 50%;
          left: 6px;
          transform: translateY(-50%);
          height: 13px;
          width: 13px;
          border-radius: 50%;
          border: 1px solid #232323;
          content: ' '; }
      .nav-menu ul li.active a {
        color: #232323; }
        .nav-menu ul li.active a:before {
          background-color: #232323; }

section {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  section.home .logo-container, section.skillset .inner, section.contact .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  section .inner {
    display: block;
    margin: 0 auto;
    width: 820px; }
  section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase; }
  section.home .logo-container h1 {
    text-align: center; }
  section.home p {
    text-align: center;
    font-size: 20px; }
  section.portfolio .inner {
    margin-top: 49px; }
  section.portfolio .sec-tabs {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #383838;
    list-style-type: none; }
    section.portfolio .sec-tabs li:first-child a {
      padding-left: 0px; }
    section.portfolio .sec-tabs li.active a {
      box-shadow: 0 1px 0 #f9f0ff, 1px 0 0 #232323, 1px -1px 0 #232323, 1px -1px 0 #232323, -1px 0 0 #232323, -1px -1px 0 #232323;
      font-weight: bold; }
    section.portfolio .sec-tabs li.active:first-child a {
      box-shadow: 0 1px 0 #f9f0ff, 1px 0 0 #232323, 1px -1px 0 #232323, 1px -1px 0 #232323, -1px 0 0 #f9f0ff, -1px -1px 0 #f9f0ff; }
    section.portfolio .sec-tabs li a {
      padding: 10px 10px 0 10px;
      font-size: 25px;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      color: #232323;
      font-weight: 300; }
      section.portfolio .sec-tabs li a:focus {
        outline: 0; }
      section.portfolio .sec-tabs li a:hover {
        color: inherit;
        font-weight: bold; }
  section.portfolio .container-tabs ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0; }
    section.portfolio .container-tabs ul li {
      width: 32%;
      border: 1px solid #232323;
      margin-bottom: 20px; }
    section.portfolio .container-tabs ul a {
      text-decoration: none;
      color: #232323; }
      section.portfolio .container-tabs ul a .pic:hover {
        background-color: #f9f0ff; }
    section.portfolio .container-tabs ul span {
      display: block; }
      section.portfolio .container-tabs ul span.pic {
        width: 100%;
        background-color: #232323;
        height: 176px; }
      section.portfolio .container-tabs ul span.title {
        border-top: 1px solid #232323;
        padding: 5px;
        text-align: center; }
  section.skillset .sub-text {
    border-bottom: 1px solid #232323;
    font-size: 13px; }
  section.skillset .link-text {
    font-size: 13px; }
    section.skillset .link-text a {
      color: #232323;
      font-weight: bold;
      font-size: 14px; }
  section.skillset .chart-container {
    margin-bottom: 15px; }
  section.experience h4 {
    text-align: center; }
  section.experience .exp-list {
    border-top: 2px solid #232323;
    width: 100%;
    padding: 0;
    list-style: none; }
    section.experience .exp-list li {
      position: relative;
      float: left;
      width: 20%; }
      section.experience .exp-list li:first-child:before, section.experience .exp-list li:last-child:before {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #232323;
        content: ' '; }
      section.experience .exp-list li:first-child:before {
        top: -6px;
        left: -5px; }
      section.experience .exp-list li:last-child:before {
        top: -6px;
        right: -5px; }
      section.experience .exp-list li span {
        display: block;
        position: absolute; }
  section.contact .contact-info {
    margin-top: 29px; }
  section.contact p {
    margin-bottom: 5px; }
  section.contact .bordered {
    display: block;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #232323;
    border: 1px solid #232323;
    color: #f9f0ff;
    font-size: 13px;
    text-align: center;
    text-decoration: none; }
    section.contact .bordered:hover {
      background-color: #f9f0ff;
      color: #232323; }
  section.contact h3 {
    font-size: 18px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
  section.contact .form-container input,
  section.contact .form-container textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid #232323;
    width: 100%;
    background-color: transparent;
    padding: 10px 5px;
    font-size: 12px;
    margin-bottom: 15px; }
    section.contact .form-container input::-webkit-input-placeholder,
    section.contact .form-container textarea::-webkit-input-placeholder {
      color: #232323; }
    section.contact .form-container input:-ms-input-placeholder,
    section.contact .form-container textarea:-ms-input-placeholder {
      color: #232323; }
    section.contact .form-container input::placeholder,
    section.contact .form-container textarea::placeholder {
      color: #232323; }
    section.contact .form-container input:focus,
    section.contact .form-container textarea:focus {
      outline: 0; }
  section.contact .form-container input[type="submit"] {
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 15px;
    background-color: #232323;
    border: 1px solid #232323;
    color: #f9f0ff;
    font-size: 13px; }
    section.contact .form-container input[type="submit"]:hover {
      background-color: #f9f0ff;
      color: #232323; }
