/*
********************************************************************
****** 161022 ******************************************************
****** MY PORTFOLIO; ***********************************************
****** Coded by Joshua B. Turingan; ********************************
****** using Bootstrap framework; **********************************
********************************************************************
*/
@font-face {
  font-family: "Quicksand_Book";
  src: url("../fonts/Quicksand_Book.otf"); }

@font-face {
  font-family: "Quicksand_Bold";
  src: url("../fonts/Quicksand_Bold.otf"); }

@font-face {
  font-family: "Quicksand_Light";
  src: url("../fonts/Quicksand_Light.otf"); }

section.game-content .inner {
  transform: translate(-50%, -50%); }

* {
  transition: 0.3s; }

body {
  font-family: Quicksand_Book;
  background-color: #f9f0ff; }

main {
  overflow: hidden; }

.modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 9; }
  .modal-container .modal-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .modal-container .modal-cont p {
      font-size: 50px;
      font-family: Quicksand_Bold; }

section .inner {
  display: block;
  width: 820px;
  margin: 0 auto; }

section.game-content .inner {
  position: absolute;
  top: 50%;
  left: 50%; }

section.game-content h1 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase; }

section.game-content ul {
  list-style-type: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px; }
  section.game-content ul.box-list li {
    width: 32.33333%;
    height: 250px;
    background-color: #bbb;
    border: 1px solid #555;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 100px; }
  section.game-content ul.color-list {
    padding-bottom: 5px; }
    section.game-content ul.color-list li {
      width: 15.66667%;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      padding: 5px; }
      section.game-content ul.color-list li:nth-child(1) {
        background-color: #e65765;
        border: 1px solid #e65765; }
        section.game-content ul.color-list li:nth-child(1):hover {
          background-color: transparent;
          color: #e65765;
          cursor: default; }
      section.game-content ul.color-list li:nth-child(2) {
        background-color: #4e73eb;
        border: 1px solid #4e73eb; }
        section.game-content ul.color-list li:nth-child(2):hover {
          background-color: transparent;
          color: #4e73eb;
          cursor: default; }
      section.game-content ul.color-list li:nth-child(3) {
        background-color: #d7d05e;
        border: 1px solid #d7d05e; }
        section.game-content ul.color-list li:nth-child(3):hover {
          background-color: transparent;
          color: #d7d05e;
          cursor: default; }
      section.game-content ul.color-list li:nth-child(4) {
        background-color: #60cc8e;
        border: 1px solid #60cc8e; }
        section.game-content ul.color-list li:nth-child(4):hover {
          background-color: transparent;
          color: #60cc8e;
          cursor: default; }
      section.game-content ul.color-list li:nth-child(5) {
        background-color: #606060;
        border: 1px solid #606060; }
        section.game-content ul.color-list li:nth-child(5):hover {
          background-color: transparent;
          color: #606060;
          cursor: default; }
      section.game-content ul.color-list li:nth-child(6) {
        background-color: #8d6ef0;
        border: 1px solid #8d6ef0; }
        section.game-content ul.color-list li:nth-child(6):hover {
          background-color: transparent;
          color: #8d6ef0;
          cursor: default; }

section.game-content a {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3rem;
  background-color: #68c1f9;
  padding: 10px;
  color: #fff; }
  section.game-content a:hover {
    background-color: #58a3d3; }
